<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="button" @click="isShow" value="显示内容 "/>
        <p v-if="istrue">古道上的风从何处起，可他去往的是故乡！(v-if)</p>
        <p v-show="istrue">纸上得来终觉浅，得知此事须躬行！(v-show)</p>

        <h2 v-if="temperature>=30">so hot!!!</h2>
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        data:{
            istrue:false,
            temperature:35
        },
        methods: {
            isShow:function(){
                this.istrue=!this.istrue;
            },

        },
    })
</script>
</body>
</html>